body {
    background: linear-gradient(to right, #66e0ff, #ff99ff, #66e0ff);
    padding-top: 70px;
}

/* Dropdown Button */
.dropbtnI, .dropbtnP, .vrniNazaj {
    background-color: #33cccc;
    color: white;
    padding: 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtnI:hover, .dropbtnI:focus, .dropbtnP:hover, .dropbtnP:focus, 
.vrniNazaj:hover, .vrniNazaj:focus {
    background-color: #85e0e0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown, .vrniNazaj {
    background-color: #33cccc;
    position: relative;
    float: center;
    padding-right: 1px;
    padding-bottom: 1px;
    display: inline-block;
    z-index: 5;
}

.dodaj, .beri, .vpisiMeritevPacient {
    position: relative;
    float: right;
    margin-top: 4px;
    padding: 5px;
    background-color: #33cccc;
    color: white;
    font-family: Arial;
    border: none;
}

#pacienti, .vrniNazaj {
    width: 200px;
}



/* Dropdown Content (Hidden by Default) */
.dropdown-contentI, .dropdown-contentP {
    display: none;
    position: absolute;
    background-color: #33cccc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-contentI a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-contentP a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-contentI a:hover {background-color: #f1f1f1}

/* Change color of dropdown links on hover */
.dropdown-contentP a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/*D3 look */
bodyBmiP {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
}
path.slice{
	stroke-width:2px;
}
polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
} 
svg text.percent{
	fill:white;
	text-anchor:middle;
	font-size:12px;
}

sporociloB {
    background-color: #33cccc;
}